/* Style the header */
header {
    background-color: #333; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 10px; /* Add padding for spacing */
    /*text-align: center;*/ 
}

nav ul {
    list-style: none; 
    text-align: right;
}

nav ul li {
    display: inline-block; 
    margin-right: 15px; 
}

nav a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 35px; 
    margin-bottom: 10px; 
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the footer content */
footer > div {
    margin-bottom: 10px;
}

/* Style the contact information */
footer > div p {
    margin: 5px 0;
}

/* Style the copyright notice */
footer > div p {
    font-size: 0.8em;
}

